<main>
  <div class="container-md">
    <h2>新規登録</h2>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

      <% if @user.errors.any? %>
        <p>すべての項目が入力されていないか、各項目の条件が守られていないため、ユーザーを登録できません</p>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>

      <div class="field">
        <p><%= f.label :name %> ※2~20字、半角英数字・アンダーバーのみ使用可</p>
        @<%= f.text_field :name, autofocus: true,  placeholder: "ユーザー名を入力してください" %>
      </div>

      <div class="field">
        <p><%= f.label :display_name %> ※2~20字</p>
        <%= f.text_field :display_name, placeholder: "表示名を入力してください" %>
      </div>

      <div class="field">
        <p><%= f.label :password %> ※6文字以上、半角英数字のみ使用可</p>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する", class: "btn btn-success" %>
      </div>
    <% end %>
    
    <a class="text-light" href="/users/sign_in">ログインはこちら</a>
  </div>
</main>