<div class="container-md">
  <p id="notice"><%= flash[:notice] %></p>
  
  <div class="row">
    <div class="col-md-3">
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: 'no_image.png', class:"rounded-circle"; %>
      <h3><%= @user.display_name %></h3>
      <h5>@<%= @user.name %></h5>
      <% if user_signed_in? %>
        <% if @user.id == current_user.id %>
          <p><a class="text-light" href="/users/<%= @user.id %>/edit">プロフィール編集</a></p>
          <p><a class="text-light" href="/posts/new">新規投稿を作成</a></p>
          <% if current_user.try(:admin?) %>
          <%= link_to '管理画面', rails_admin_path, class:"text-light"; %>
        <% end %>
        <% end %>
      <% end %>
    </div>
  
    <div class="col-md-9">
      <h1 class="text-center"><%= @user.display_name %>の投稿一覧</h1>
      
      <% @posts.each do |post| %>
      <div class="card-body rounded" style="background-color:#2F3236;">
        <table>
          <tr>
            <td>
              <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, fallback: "no_image.png", class:"rounded-circle"; %>
              <%= post.user.display_name %>
              @<%= post.user.name %></td>
            <td>-</td>
            <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        </table>
        <a href="/posts/<%= post.id %>" class="text-light">
          <table>
            <tr>
              <td><%= post.live_date.strftime('%Y/%m/%d') %></td>
              <td>-</td>
              <td><%= post.venue %></td>
              <td>-</td>
              <td><%= post.live_name %></td>
            </tr>
          </table>
          <p></p>
          <div>
            <%= simple_format(h(post.comment)) %>
          </div>
        </a>
      </div>
      
      <h6></h6>
      <% end %>
    </div>
  </div>
</div>