<main>
  <div class="container-md">
    <p id="notice"><%= flash[:notice] %></p>
    <div class="row">
      <div class="col-md-3">
        <div>
          <% if user_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
            <li>
              <%= link_to "マイページ", user_path(current_user.id) %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
        </div>
        <div>
          
          <a class="text-light" href="/posts/new">新規投稿を作成</a>
        </div>
        <div>
          <li>
            <a class="text-light" href="/lives/new">ライブを追加(管理者のみ)</a> 
          </li>
          <li>セトリを作成(管理者のみ)</li>
        </div>
        <div>
          <p>並び替え(昇順・降順)</p>
          <p>絞り込み</p>
          <p>セトリ表示ON・OFF</p>
          <p>条件をクリア</p>
          <p>年</p>
          <p>月</p>
          <p>イベント名</p>
          <p>場所</p>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <p>セトリ</p>
        </div>
        <div>
          <p>投稿一覧</p>
        </div>
      </div>
    </div>
  </div>
</main>