<main>
  <div class="container-md">
    <p id="notice"><%= flash[:notice] %></p>
    <div class="row">
      <div class="col-md-3">
        <div>
          <% if user_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-light"; %>
            </li>
            <li>
              <%= link_to "マイページ", user_path(current_user.id), class:"text-light"; %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class:"text-light"; %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class:"text-light"; %>
            </li>
          <% end %>
        </div>

        <div>
          <% if user_signed_in? %>
          <p>
            <a class="text-light" href="/posts/new">新規投稿を作成</a>
          </p>
          <% end %>
        </div>

        <div>
          <p>
            <a class="text-light" href="/lives/new">ライブを作成(管理者のみ)</a>
          </p>
        </div>
        
        <div>
          <p><%= link_to '投稿日時が新しい順', posts_path(latest: "true"), class:"text-light"; %></p>
          <p><%= link_to '投稿日時が古い順', posts_path(old: "true"), class:"text-light"; %></p>
        </div>
          
        <div>  
          <p>絞り込み</p>
          <p>条件をクリア</p>
          <p>年</p>
          <p>月</p>
          <p>ライブ・イベント名</p>
          <p>開催地</p>
        </div>
      </div>

      <div class="col-md-9">
        <div>
          <h1 class="text-center">セトリ一覧</h1>
        </div>
        <div>
          <h1 class="text-center">投稿一覧</h1>
          
          <% @posts.each do |post| %>
          <div class="card-body rounded" style="background-color:#2F3236;">
            <table>
                <tr>
                  <td>
                    <%= link_to user_path(post.user) do %>
                      <%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "no_image.png", class:"rounded-circle"; %>
                    <% end %>
                    <%= post.user.display_name %>
                    @<%= post.user.name %>
                  </td>
                  <td>-</td>
                  <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
              </table>
            <a href="/posts/<%= post.id %>" class="text-light">
                <table>
                  <tr>
                    <td><%= post.live_date.strftime('%Y/%m/%d') %></td>
                    <td>-</td>
                    <td><%= post.venue %></td>
                    <td>-</td>
                    <td><%= post.live_name %></td>
                  </tr>
                </table>
                <p></p>
                <div>
                  <%= simple_format(h(post.comment)) %>
                </div>
                <div>
                  <p></p>
                  <p><%= post.post_comments.count %>件のコメント</p>
                </div>
              </a>
          </div>
              
          <h6></h6>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>