<div class="container">
  <h1 class="text-center">投稿詳細</h1>
  <p id="notice"><%= flash[:notice] %></p>
  
  <div class="card-body rounded" style="background-color:#2F3236;">
    <table>
      <tr>
        <td>
          <%= link_to user_path(@post.user) do %>
            <%= attachment_image_tag @post.user, :profile_image, :fill, 80, 80, fallback: "no_image.png", class:"rounded-circle"; %>
            <%= @post.user.display_name %>
            @<%= @post.user.name %>
          <% end %>
        </td>
        <td>-</td>
        <td>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </table>

    <p>ライブ日時：<%= @post.live_date.strftime('%Y/%m/%d') %></p>
    <p>開催地：<%= @post.venue %></p>
    <p>カテゴリ：<%= @post.category %></p>
    <p>ライブ名：<%= @post.live_name %></p>
    <p><%= simple_format(h(@post.comment)) %></p>
    <% if @post.user == current_user %>
      <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-success" %>
      <%= link_to "投稿を削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？削除した投稿は復元できません。", class: "btn btn-sm btn-danger" %>
    <% else %>
      <p>いいねボタン</p>
    <% end %>
  </div>
  
  <p>コメント</p>
</div>
