<div class="container">
  <h1 class="text-center">投稿詳細</h1>
  <p id="notice"><%= flash[:notice] %></p>

  <div class="card-body rounded" style="background-color:#2F3236;">
    <table>
      <tr>
        <td>
          <%= link_to user_path(@post.user) do %>
            <%= attachment_image_tag @post.user, :profile_image, :fill, 70, 70, fallback: "no_image.png", class:"rounded-circle"; %>
          <% end %>
          <%= @post.user.display_name %>
          @<%= @post.user.name %>
        </td>
        <td>-</td>
        <td>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    </table>

    <p>ライブ日時：<%= @post.live_date.strftime('%Y/%m/%d') %></p>
    <p>開催地：<%= @post.venue %></p>
    <p>カテゴリ：<%= @post.category %></p>
    <p>ライブ名：<%= @post.live_name %></p>
    <p><%= simple_format(h(@post.comment)) %></p>
    
    <% if user_signed_in? %>
    
      <% if @post.user == current_user %>
        <%= link_to "編集する", edit_post_path(@post), class: "btn btn-sm btn-success" %>
        <%= link_to "投稿を削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？削除した投稿は復元できません。", class: "btn btn-sm btn-danger" %>
      <% else %>
        <% if @post.favorited_by?(current_user)%>
          <p>
            <%= link_to post_favorites_path(@post), method: :delete do %>
              ♥<%= @post.favorites.count %> いいね
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to post_image_favorites_path(@post_image), method: :post do %>
              ♡<%= @post_image.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
      <% end %>
    <% else %>
      <p>ユーザー登録・ログインをするといいねが押せます</p>
    <% end %>
  </div>

  <h6></h6>

  <div class="card-body rounded" style="background-color:#2F3236;">
    <div>
      <% if user_signed_in? %>
        <%= form_with(model:[@post, @post_comment], local: true) do |f| %>
          <%= f.text_area :comment, placeholder: "コメントを入力" %>
          <%= f.submit "送信する", class: "btn btn-sm btn-success" %>
        <% end %>
      <% end %>
    </div>

    <div>
      <h4><%= @post.post_comments.count %>件のコメント</h4>

      <div>
        <p>投稿日時が新しい順、投稿日時が古い順</p>
      </div>

      <% @post.post_comments.each do |post_comment| %>
      <table>
        <tr>
          <td>
            <%= link_to user_path(@post.user) do %>
              <%= attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, fallback: "no_image.png", class:"rounded-circle"; %>
            <% end %>
            <%= post_comment.user.display_name %>
            @<%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          </td>
        </tr>
        <tr>
          <td><%= simple_format(h(post_comment.comment)) %></td>
        </tr>
        <tr>
          <td>
            <% if post_comment.user == current_user %>
              <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), method: :delet, "data-confirm" => "本当に削除しますか？削除したコメントは復元できません。", class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      </table>
      <p></p>
      <% end %>
    </div>
  </div>
</div>